name: Publish version
on:
  workflow_dispatch:
    inputs:
      version:
        description: "The version to publish"
        required: true

permissions:
  contents: write
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: git config --global user.email "github-actions[bot]@users.noreply.github.com" && git config --global user.name "github-actions[bot]"
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 22
          cache: pnpm
          registry-url: "https://registry.npmjs.org"
      - run: npm install -g npm@latest
      - run: pnpm install
      - run: pnpm build
      - run: |
          npm version ${{ inputs.version }}
          git push origin HEAD --tags
          gh release create ${{ inputs.version }} --generate-notes
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - run: npm publish --provenance --access public
